div.theorem {
    background-color: rgba(209, 10, 133, 0.1);
    margin:auto;
    width: 100%;
    padding: 1.3em;
    border: rgb(216 31 255 / 37%);
    border-width: 1px;
    border-style: solid;
    p {
        margin-block-end: 0;
    }
    margin-bottom: 1.3em;
}