div#draft-warning {
    background-color: #b96a16;
    padding: 15px 30px;
    margin: 10px 20px;

    font-size: $type-size-5;
    color: black;
    min-height: 120px;

    img {
        margin: 0 10px 0 0;
        width: 100px;
        max-width: 50%;
        float: left;
    }
}