.center-img {
    margin: auto;
    display: block;
}

span.katex {
    font-size: 1em;
}

::selection {
    background: #3fd5ce47;
}

.site-title {
    color: #edcee1;
    font-style: italic;
    font-family: "Babylonica";
}